# Movie Data Exploration
This is an indepth walk through of my data cleaning and exploration process

## Importing and exploring the data
First, importing all the data set that were provided. Running the bellow cell will import **pandas** that we'll use to import that data sets as well as **numpy**, **matplotlib** and the data sets themselves.

In [1]:
# Running this cell will take a while but will import all of the data we have in one go.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

bom = pd.read_csv('zippedData/bom.movie_gross.csv.gz', thousands=',')
imdbName = pd.read_csv('zippedData/new_imdb/name.basics.tsv.gz', sep='\t')
imdbTitleAkas = pd.read_csv('zippedData/new_imdb/title.akas.tsv.gz', sep='\t', compression='gzip', delimiter='\t', encoding='iso-8859-1')
imdbTitleBasics = pd.read_csv('zippedData/new_imdb/title.basics.tsv.gz', sep='\t', compression='gzip', delimiter='\t', encoding='iso-8859-1')
imdbTitleCrew = pd.read_csv('zippedData/new_imdb/title.crew.tsv.gz', sep='\t')
imdbTitleRatings = pd.read_csv('zippedData/new_imdb/title.ratings.tsv.gz', sep='\t')
imdbTitlePrin = pd.read_csv('zippedData/new_imdb/title.principals.tsv.gz', sep='\t')
rtMovie = pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t')
rtReviews = pd.read_csv('zippedData/new_imdb/name.basics.tsv.gz', sep='\t', compression='gzip', delimiter='\t', encoding='iso-8859-1')
tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')
tn = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

C:\Users\Sweet Deals\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Sweet Deals\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# First look at our data frames
Now that all the data is imported, let's check that they imported correctly.

In [2]:
# This data frame looks like it's only info on boxoffice gross
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [3]:
# Uneccessary and becomes more trouble than it's worth to combine
imdbName

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0071877,tt0117057,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0059956,tt0049189,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0077975,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0050976,tt0083922,tt0060827"
...,...,...,...,...,...,...
10505047,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department",tt2455546
10505048,nm9993716,Essias Loberg,\N,\N,NaN,\N
10505049,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
10505050,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
10505051,nm9993719,Andre Hill,\N,\N,NaN,\N

In [4]:
# It appears that most of this data is either corrupted
# repeated with a different name or incomplete.
# This data is probably not worth making sense of.
imdbTitleAkas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,ÐÐ°ÑÐ¼ÐµÐ½ÑÑÑÐ°,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tÃ¡nc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,ÎÎ±ÏÎ¼ÎµÎ½ÏÎ¯ÏÎ±,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,ÐÐ°ÑÐ¼ÐµÐ½ÑÐ¸ÑÐ°,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
24169281,tt9916852,4,ã¨ãã½ã¼ã #3.20,JP,ja,\N,\N,0
24169282,tt9916852,5,EpisÃ³dio #3.20,PT,pt,\N,\N,0
24169283,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
24169284,tt9916852,7,à¤à¤ªà¤¿à¤¸à¥à¤¡ #3.20,IN,hi,\N,\N,0
24169285,tt9916856,1,The Wind,DE,\N,\N,\N,0

In [5]:
# Information about movie titles and their respoective genres
imdbTitleBasics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
7342349,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
7342350,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
7342351,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
7342352,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
7342353,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [6]:
# information about writing and directing staff.
# Usful if we need to know about hiring staff but perhaps irrelevant to monitary gain and reputation.
imdbTitleCrew

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
7342349  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7342350  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7342351  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7342352  tt9916856           nm10538645                      nm6951431
7342353  tt9916880            nm0996406            nm1482639,nm2586970

[7342354 rows x 3 columns]

In [7]:
# Information about populatiry and ratings.
imdbTitleRatings

            tconst  averageRating  numVotes
0        tt0000001            5.6      1660
1        tt0000002            6.1       203
2        tt0000003            6.5      1373
3        tt0000004            6.2       123
4        tt0000005            6.2      2161
...            ...            ...       ...
1091113  tt9916580            7.2         5
1091114  tt9916690            6.6         5
1091115  tt9916720            6.0        66
1091116  tt9916766            6.9        15
1091117  tt9916778            7.3        24

[1091118 rows x 3 columns]

In [8]:
# Staffing information and chracter names (if applicable) to actors/actresses. Will probably cause repeart row creation
# when combining cells data frames
imdbTitlePrin

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
41887285,tt9916880,5,nm0996406,director,principal director,\N
41887286,tt9916880,6,nm1482639,writer,\N,\N
41887287,tt9916880,7,nm2586970,writer,books,\N
41887288,tt9916880,8,nm1594058,producer,producer,\N
41887289,tt9916880,9,nm1052583,actress,\N,"[""Mum"",""Tidy Ted"",""Fang""]"

In [9]:
# information on box office sales and genres. Lacks movie title.
rtMovie

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [10]:
# Staffing information about previously worked on titles and brith/death years
rtReviews

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0071877,tt0117057,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0059956,tt0049189,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0077975,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0050976,tt0083922,tt0060827"
...,...,...,...,...,...,...
10505047,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department",tt2455546
10505048,nm9993716,Essias Loberg,\N,\N,NaN,\N
10505049,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
10505050,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
10505051,nm9993719,Andre Hill,\N,\N,NaN,\N

In [11]:
# information about movie ratings based on movie title
tmdb

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [12]:
# information about box offic gross based on movie title.
tn

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

Based on what we can see, as well as making some assumptions
* Based on where the data come from, we can conclude that some of these data frames will have consistent naming/labeling schemes with one another, such as those that came from imdb.
* Some of the data will be usable while some will not. And that's perfecetly fine. The right information is more imporatnt than the amount of information.
* The column 'tconst' seems to appear quite a bit, like a unique identifier for movie titles. This is important, especially considering that some movies could be named exactly the same but are totally different.

Let's try to join all imdb data frame on like values into one concatenated data frame.

First we need check what columns each data frame for the imdb's have in common.

In [60]:
# This code give a printed and organized list of columns per data frame.

print(
    '-imdbName: ', '\n',list(imdbName.columns),'\n',
    '-imdbTitleAkas: ','\n',list(imdbTitleAkas.columns),'\n',
    '-imdbTitleBasics', '\n',list(imdbTitleBasics.columns),'\n',
    '-imdbTitleCrew: ', '\n',list(imdbTitleCrew.columns),'\n',
    '-imdbTitleRatings: ', '\n',list(imdbTitleRatings.columns),'\n',
    '-imdbTitlePrin: ', '\n',list(imdbTitlePrin.columns)
)

-imdbName:
 ['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']
 -imdbTitleAkas:
 ['titleId', 'ordering', 'title', 'region', 'language', 'types', 'attributes', 'isOriginalTitle']
 -imdbTitleBasics
 ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']
 -imdbTitleCrew:
 ['tconst', 'directors', 'writers']
 -imdbTitleRatings:
 ['tconst', 'averageRating', 'numVotes']
 -imdbTitlePrin:
 ['tconst', 'ordering', 'nconst', 'category', 'job', 'characters']

It looks like **imdbTitleAkas** doesn't have any columns in common with the rest of the data from the other imdb data frames. Not only that but imdbTitleAkas was the data frame we saw with the corrupted data. It's probably best we ommit this data frame, entirely, rather than force it to fit in.

**imdbName** and **imdbTitlePrin** also poses some problems. Combining them will result in duplicate rows as they a list of the movie staff and not the movies them selves. And since almost every movie will have more than one person on staff, we'll get a list that has movies listed for each instance of a staff member for that movie. It's best we just manually explore these later if needed rather than including it now..

As for the rest, it seems that **imdbTitleBasics**, **imdbTitleCrew**, and **imdbTitleRatings** have 'tconst' in common. Let's combine them on 'tconst' for one concatenated list.

In [16]:
# Running this cell will combin all 3 Data frames into 1 data frame called 'imdb'.
imdbBasicsCrew = pd.merge(imdbTitleBasics, imdbTitleCrew, on=['tconst'])
imdb = pd.merge(imdbBasicsCrew, imdbTitleRatings, on=['tconst'])

In [17]:
# Let's run imdb to check for success.
imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.6,1660
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,6.1,203
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",nm0721526,\N,6.5,1373
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",nm0721526,\N,6.2,123
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",nm0005690,\N,6.2,2161
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091113,tt9916580,tvEpisode,Horrid Henry Horrid Boy?,Horrid Henry Horrid Boy?,0,2012,\N,10,"Animation,Comedy,Family",nm0996406,"nm1482639,nm2586970",7.2,5
1091114,tt9916690,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0,2012,\N,\N,"Animation,Comedy,Family",nm0996406,"nm1482639,nm2586970",6.6,5
1091115,tt9916720,short,The Nun 2,The Nun 2,0,2019,\N,10,"Comedy,Horror,Mystery",nm10538600,\N,6.0,66
1091116,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,\N,43,"Family,Reality-TV",\N,\N,6.9,15
1091117,tt9916778,tvEpisode,Escape,Escape,0,2019,\N,\N,Drama,\N,\N,7.3,24

Success!...kinda. It seems our new data frame seems to have some extrenuous data (namely most values in the column 'titleType'). For simplicity's sake, we only care about box office movies. Let's check to see how many titleTypes we need to filter out.

In [19]:
pd.unique(imdb['titleType'])

array(['short', 'movie', 'tvShort', 'tvSeries', 'tvMovie', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

Out of these, we only TRUELY care about 'movie'. Let's filter everything else out. And while were at it let's get rid of all rows whos column value for **'isAdult'** is equal to 1...for obvious reasons...

In [20]:
imdb.drop(imdb.loc[imdb['titleType']=='tvEpisode'].index, inplace=True)
imdb.drop(imdb.loc[imdb['titleType']=='tvMiniSeries'].index, inplace=True)
imdb.drop(imdb.loc[imdb['titleType']=='tvMovie'].index, inplace=True)
imdb.drop(imdb.loc[imdb['titleType']=='tvShort'].index, inplace=True)
imdb.drop(imdb.loc[imdb['titleType']=='tvSpecial'].index, inplace=True)
imdb.drop(imdb.loc[imdb['titleType']=='tvSeries'].index, inplace=True)
imdb.drop(imdb.loc[imdb['titleType']=='video'].index, inplace=True)
imdb.drop(imdb.loc[imdb['titleType']=='short'].index, inplace=True)
imdb.drop(imdb.loc[imdb['isAdult']==1].index, inplace=True)
imdb.drop(imdb.loc[imdb['titleType']=='videoGame'].index, inplace=True)

While we're at it, let's remove some columns that don't provide any usful information/aren't needed anymore.

In [21]:
imdb = imdb.drop(columns = ['tconst', 'titleType', 'isAdult', 'endYear'], axis = 1)

In [22]:
# Let's check for' success!
imdb

,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
8,Miss Jerry,Miss Jerry,1894,45,Romance,nm0085156,nm0085156,5.9,155
259,Soldiers of the Cross,Soldiers of the Cross,1900,\N,"Biography,Drama","nm0095714,nm0675140",\N,6.0,39
337,Bohemios,Bohemios,1905,100,\N,nm0063413,"nm0063413,nm0657268,nm0675388",4.7,7
371,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,70,"Biography,Crime,Drama",nm0846879,nm0846879,6.1,597
391,Robbery Under Arms,Robbery Under Arms,1907,\N,Drama,nm0533958,"nm0092809,nm0533958",4.5,14
...,...,...,...,...,...,...,...,...,...
1091096,DrÃ¸mmeland,DrÃ¸mmeland,2019,72,Documentary,nm5684093,\N,6.5,40
1091097,Safeguard,Safeguard,2020,90,"Action,Adventure,Thriller",nm7308376,nm7308376,4.6,52
1091105,Coven,Akelarre,2020,90,"Drama,History,Horror",nm1893148,"nm1893148,nm3471432",5.9,134
1091108,The Secret of China,Hong xing zhao yao Zhong guo,2019,\N,"Adventure,History,War",nm0910951,\N,4.1,11
1091109,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123,Drama,nm4457074,"nm4843252,nm4900525,nm2679404",8.4,5

Success! We've cut down our data frame size from 1 mill+ to just over 250k results. This 'imdb' Data frame becomes one of data frame we use for querries about genre, reviews, and release years

Now, just like the imdb data frames, we also have rt data frames that are similar in name. Let's check to see if there is any consistance between these.

In [24]:
print(
    '-rtMovie: ', '\n',list(rtMovie.columns),'\n',
    '-rtReviews: ','\n',list(rtReviews.columns),'\n'
)

-rtMovie:
 ['id', 'synopsis', 'rating', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime', 'studio']
 -rtReviews:
 ['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']

Hm, unfortunate. It looks like these two data frames don't have any joinable columns in common. rtMovie has some usful info about box office gross but no assocciated movie title. Vice versa, rtReviews has no usful info but presumably the assocciated movie titles for rtMovies. With no way to reliably join the two, we'll need to ommit them both.

Next, let's clean up some of the other data frames that are still usful to us. Tmdb has a some extranious info that we just don't need. 'genre_id' & 'id' are some columns we don't need. We need to make a decision about the data here as well. Since Microsoft is american company new to the movie scene it would be safest to start with english movies so let's filter out movies that are originally english.

In [27]:
# This code filters and removes all movies that aren't english (column value that isn't 'en').
tmdb.drop(tmdb.loc[tmdb['original_language']!='en'].index, inplace=True)
# This code removes columns that we don't need. Since we already filtered by languages, we dont need 'original-language' anymore.
tmdb = tmdb.drop(columns = ['genre_ids', 'id', 'original_language'])
# Check for success!
tmdb

,Unnamed: 0,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...
26512,26512,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,en,The Church,0.600,2018-10-05,The Church,0.0,1

Now, lets take at our **tn** data frame it looks like our columns with currency values are wirtten as stings instead of a numeric. This will cause a sorting problem so lets write a function to fix that.

In [28]:
# this code removes non-numeric symbols, leaving only the numbers and replacing the value in its place as a float
def clean_currency(x):
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)

# This code will apply the new function to the colums that represent money.
tn.worldwide_gross = tn.worldwide_gross.apply(clean_currency).astype(np.int64)
tn.domestic_gross = tn.domestic_gross.apply(clean_currency).astype(np.int64)
tn.production_budget = tn.production_budget.apply(clean_currency).astype(np.int64)

# This code will attempt to sort one of the columns so if our new function worked.

tn.sort_values('total_profit', ascending = False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_profit
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,2351345279
42,43,"Dec 19, 1997",Titanic,200000000,659363944,2208208395,2008208395
6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,1748134200
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,1747311220
33,34,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864,1433854864
...,...,...,...,...,...,...,...
352,53,"Apr 27, 2001",Town & Country,105000000,6712451,10364769,-94635231
341,42,"Jun 14, 2019",Men in Black: International,110000000,3100000,3100000,-106900000
193,94,"Mar 11, 2011",Mars Needs Moms,150000000,21392758,39549758,-110450242
194,95,"Dec 31, 2020",Moonfall,150000000,0,0,-150000000
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-200237650

Success! Lastely, data frame **bom** has a column 'studio' doesn't provide any significant info. Let's remove that as well as filling some of the NaN values with 0.

In [29]:
bom = bom.fillna(0)
bom = bom.drop(columns = 'studio')
bom

,title,domestic_gross,foreign_gross,year
0,Toy Story 3,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,296000000.0,664300000.0,2010
3,Inception,292600000.0,535700000.0,2010
4,Shrek Forever After,238700000.0,513900000.0,2010
...,...,...,...,...
3382,The Quake,6200.0,0.0,2018
3383,Edward II (2018 re-release),4800.0,0.0,2018
3384,El Pacto,2500.0,0.0,2018
3385,The Swan,2400.0,0.0,2018
3386,An Actor Prepares,1700.0,0.0,2018

Success!

Let's recall what we have so far and take a look at what we have once more.
* imdb - info about genre and rating per movie
* tmdb - info about genre and rating per movie
* tn - info bout box office gross per movie
* bom - info bout box office gross per movie

In [31]:
imdb.head()

,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
8,Miss Jerry,Miss Jerry,1894,45,Romance,nm0085156,nm0085156,5.9,155
259,Soldiers of the Cross,Soldiers of the Cross,1900,\N,"Biography,Drama","nm0095714,nm0675140",\N,6.0,39
337,Bohemios,Bohemios,1905,100,\N,nm0063413,"nm0063413,nm0657268,nm0675388",4.7,7
371,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,70,"Biography,Crime,Drama",nm0846879,nm0846879,6.1,597
391,Robbery Under Arms,Robbery Under Arms,1907,\N,Drama,nm0533958,"nm0092809,nm0533958",4.5,14

In [32]:
tmdb.head()

,Unnamed: 0,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [33]:
tn.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_profit
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,2351345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-200237650
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,1072413963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,999721747

In [34]:
bom.head()

,title,domestic_gross,foreign_gross,year
0,Toy Story 3,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,296000000.0,664300000.0,2010
3,Inception,292600000.0,535700000.0,2010
4,Shrek Forever After,238700000.0,513900000.0,2010

Between all 4 of these data frames we've cleaned and made it seems like each have something new to offer. So, we may need to combine them to find a correlation between separate information that we may later deem pertinent. To make it easier on outselves later, we take the name of the movies as our join point. Though it may not be the most reliable, it's the one column every data frame has in common.

In [61]:
imdb = imdb.rename(columns = {'primaryTitle': 'movieTitle'})
bom = bom.rename(columns = {'title': 'movieTitle'})
tn = tn.rename(columns = {'movie': 'movieTitle'})
tmdb = tmdb.rename(columns = {'title': 'movieTitle'})

In [36]:
tmdb

,Unnamed: 0,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...
26512,26512,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,en,The Church,0.600,2018-10-05,The Church,0.0,1

# Second exploration and application for findind desired results

Our first step here is to define what result we want by the questions we have.

* 1.) What movies made the most profit? Are there any traits in common with those?
* 2.) What movies have the highest Rating?
* 3.) How should Microsoft take this information and act upon it.

Now, we can finally ask our data some questions and get usful infomation. Since were looking for exacutable information for a large corperation money will be our driving factor.

In [62]:
# 1.) What movies made the most profit? Are there any traits in common with those?

In [39]:
# lets start by sorting the values of out bom data frame by 'domestic_gross' and
# return only the top 50 results.
bomDom = bom.sort_values('domestic_gross', ascending=False).head(50)

In [40]:
# Next, lets import matplotlib to help create a nice horizontal bar graph for data visualization

In [41]:
# Now that we have this, let's not forget to save the image to out repository.
bomDom.plot('title', 'domestic_gross', kind='barh', figsize = (30, 10))
plt.savefig('plots.pdf')

In [42]:
# So, we have a nice and neat histogram of what some of the most profitable movies have been for a domestic audience.
# But that doesn't help us unless we know to properties of these movies. What it does let us know is that, 
# the group we've grabbed are highest earners. And Microsoft interested in making as much money as they can.
# Let's merge on 'title' with one of our other data frames to take a look at some other information about each movie

imdbBom = pd.merge(imdb, bom, on=['title'])
imdbBom

,title,originalTitle,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes,domestic_gross,foreign_gross,year
0,Passion,Madame DuBarry,1919,85,"Biography,Drama,Romance",nm0523932,"nm0266183,nm0473134",6.8,762,92200.0,0.0,2013
1,Passion,Passion,1954,84,"Adventure,Western",nm0245385,"nm0237532,nm0655755,nm0500837,nm0261455",6.2,281,92200.0,0.0,2013
2,Passion,Passion,1982,88,"Comedy,Drama",nm0000419,"nm0140643,nm0000419",6.2,2275,92200.0,0.0,2013
3,Passion,Zui ai,1986,95,"Drama,Romance",nm0151827,nm0151827,6.8,77,92200.0,0.0,2013
4,Passion,Ishq,1997,161,"Action,Comedy,Drama",nm0409791,"nm0442396,nm1007381,nm1065687,nm0661494",6.9,9774,92200.0,0.0,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
4191,How Long Will I Love U,Chao shi kong tong ju,2018,101,"Comedy,Fantasy,Romance",nm6050764,nm6050764,6.4,845,747000.0,82100000.0,2018
4192,Helicopter Eela,Helicopter Eela,2018,135,Drama,nm1224879,"nm3784276,nm1628153",5.6,971,72000.0,0.0,2018
4193,Last Letter,Last Letter,2020,120,Romance,nm0412517,nm0412517,7.1,336,181000.0,0.0,2018
4194,Last Letter,"Ni hao, Zhihua",2018,114,"Drama,Romance",nm0412517,"nm0412517,nm5605482",6.4,520,181000.0,0.0,2018
4195,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,84,"Documentary,Music",nm10201503,\N,8.8,2510,4200000.0,16100000.0,2018

In [43]:
# Next, we sort the value of 'domestic_gross' again to make sure we're working with the right group
# However, let's expand from 50 to  1,000 entries to be more general and get a 'bigger picture'
imdbBomDom = imdbBom.sort_values('domestic_gross', ascending=False).head(1000)
imdbBomDom.head(50)

,title,originalTitle,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes,domestic_gross,foreign_gross,year
2804,Black Panther,Black Panther,2018,134,"Action,Adventure,Sci-Fi",nm3363032,"nm3363032,nm1963288,nm0498278,nm0456158",7.3,613622,700100000.0,646900000.0,2018
3780,Avengers: Infinity War,Avengers: Infinity War,2018,149,"Action,Adventure,Sci-Fi","nm0751648,nm0751577","nm1321655,nm1321656,nm0498278,nm0456158,nm0800...",8.4,811986,678800000.0,1369.5,2018
1565,Jurassic World,Jurassic World,2015,124,"Action,Adventure,Sci-Fi",nm1119880,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",7.0,573593,652300000.0,1019.4,2015
3635,Incredibles 2,Incredibles 2,2018,118,"Action,Adventure,Animation",nm0083348,nm0083348,7.6,243526,608600000.0,634200000.0,2018
3683,Rogue One: A Star Wars Story,Rogue One,2016,133,"Action,Adventure,Sci-Fi",nm2284484,"nm0919363,nm0006904,nm0461306,nm1729428,nm0000184",7.8,544589,532200000.0,523900000.0,2016
3166,Finding Dory,Finding Dory,2016,97,"Adventure,Animation,Comedy","nm0533691,nm0004056","nm0004056,nm0835194",7.3,236402,486300000.0,542300000.0,2016
3263,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141,"Action,Adventure,Sci-Fi",nm0923736,"nm0923736,nm0498278,nm0456158,nm0800209,nm4160687",7.3,730088,459000000.0,946400000.0,2015
2223,The Dark Knight Rises,The Dark Knight Rises,2012,164,"Action,Adventure",nm0634240,"nm0634300,nm0634240,nm0333060,nm0004170",8.4,1496072,448100000.0,636800000.0,2012
2920,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,2013,146,"Action,Adventure,Mystery",nm1349376,"nm0064479,nm1578335,nm1056741",7.5,607822,424700000.0,440300000.0,2013
3912,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,2018,128,"Action,Adventure,Sci-Fi",nm1291105,"nm2081046,nm1119880,nm0000341",6.2,260913,417700000.0,891800000.0,2018
1635,Toy Story 3,Toy Story 3,2010,103,"Adventure,Animation,Comedy",nm0881279,"nm0005124,nm0004056,nm0881279,nm1578335",8.3,747022,415000000.0,652000000.0,2010
1650,Wonder Woman,Wonder Woman,2017,141,"Action,Adventure,Fantasy",nm0420941,"nm0374302,nm0811583,nm0297229,nm0551376,nm4243936",7.4,541745,412600000.0,409300000.0,2017
1652,Wonder Woman,Wonder Woman,2016,75,"Documentary,Drama,Sport","nm6980872,nm3689788",\N,6.8,14,412600000.0,409300000.0,2017
1651,Wonder Woman,Wonder Woman,2014,60,Sci-Fi,"nm3645818,nm4197194","nm3645818,nm5566809,nm4197194",5.3,27,412600000.0,409300000.0,2017
2170,Iron Man 3,Iron Man Three,2013,130,"Action,Adventure,Sci-Fi",nm0000948,"nm1510800,nm0000948,nm0498278,nm1411347,nm1293...",7.2,745940,409000000.0,805800000.0,2013
3606,Captain America: Civil War,Captain America: Civil War,2016,147,"Action,Adventure,Sci-Fi","nm0751577,nm0751648","nm1321655,nm1321656,nm0800209,nm0456158,nm2092...",7.8,652171,408100000.0,745200000.0,2016
2268,The Hunger Games,The Hunger Games,2012,142,"Action,Adventure,Sci-Fi",nm0002657,"nm0002657,nm1056741,nm0712753",7.2,836944,408000000.0,286400000.0,2012
3171,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,2017,119,"Action,Adventure,Comedy",nm0440458,"nm0571344,nm1273099,nm0003298,nm0684374,nm0885...",6.9,313333,404500000.0,557600000.0,2017
1170,Frozen,Wai nei chung ching,2010,92,"Fantasy,Romance",nm0477213,"nm0477213,nm3827960",5.4,82,400700000.0,875700000.0,2013
1169,Frozen,Frozen,2010,93,"Adventure,Drama,Thriller",nm1697112,nm1697112,6.1,66866,400700000.0,875700000.0,2013
1167,Frozen,Frozen,2005,90,Thriller,nm1425498,"nm1425498,nm1426117",5.5,567,400700000.0,875700000.0,2013
1171,Frozen,Frozen,2013,102,"Adventure,Animation,Comedy","nm1601644,nm0118333","nm1601644,nm0026153,nm0118333,nm2280850",7.4,565335,400700000.0,875700000.0,2013
1166,Frozen,Jidu hanleng,1996,99,Drama,nm0911075,"nm0659401,nm0911075",6.4,262,400700000.0,875700000.0,2013
1168,Frozen,Frozen,2007,110,Drama,nm2282411,"nm2282411,nm2384379",7.1,191,400700000.0,875700000.0,2013
3726,Guardians of the Galaxy Vol. 2,Guardians of the Galaxy Vol. 2,2017,136,"Action,Adventure,Comedy",nm0348181,"nm0348181,nm3966115,nm5037683,nm1921680,nm3238...",7.6,558307,389800000.0,473900000.0,2017
3382,The Secret Life of Pets,The Secret Life of Pets,2016,87,"Adventure,Animation,Comedy","nm0155528,nm0719208","nm0666791,nm0202425,nm0528244",6.5,180793,368400000.0,507100000.0,2016
2659,Despicable Me 2,Despicable Me 2,2013,98,"Adventure,Animation,Comedy","nm0719208,nm1853544","nm0666791,nm0202425",7.3,365893,368100000.0,602700000.0,2013
2331,Deadpool,Deadpool,2016,108,"Action,Adventure,Comedy",nm1783265,"nm1014201,nm1116660",8.0,890127,363100000.0,420000000.0,2016
773,Inside Out,Inside Out,2011,93,"Crime,Drama",nm0541703,nm4046433,4.5,1658,356500000.0,501100000.0,2015
776,Inside Out,Inside Out,2013,75,"Biography,Documentary,History",nm3322414,\N,7.4,65,356500000.0,501100000.0,2015
775,Inside Out,Inside Out,2015,95,"Adventure,Animation,Comedy","nm0230032,nm0215455","nm0230032,nm0215455,nm0498834,nm2155757,nm1578...",8.1,601057,356500000.0,501100000.0,2015
774,Inside Out,Inside Out,2011,59,Family,\N,nm2772668,6.7,18,356500000.0,501100000.0,2015
772,Inside Out,Inside Out,2006,52,Documentary,nm2099042,\N,5.9,7,356500000.0,501100000.0,2015
771,Inside Out,Inside Out,2005,90,"Drama,Mystery,Thriller",nm0644601,nm0644601,5.4,402,356500000.0,501100000.0,2015
770,Inside Out,Inside Out,1998,93,"Comedy,Drama",nm0839237,"nm0085123,nm0839237",7.5,44,356500000.0,501100000.0,2015
769,Inside Out,Inside Out,1986,87,"Drama,Romance",nm0846753,"nm1590983,nm0846753",6.2,223,356500000.0,501100000.0,2015
768,Inside Out,Inside Out,1975,97,"Comedy,Crime,Thriller",nm0240439,"nm0773652,nm0076289",5.9,364,356500000.0,501100000.0,2015
3410,Furious 7,Fast & Furious 7,2015,137,"Action,Adventure,Thriller",nm1490123,"nm0604555,nm0860155",7.1,355872,353000000.0,1163.0,2015
2276,Transformers: Dark of the Moon,Transformers: Dark of the Moon,2011,154,"Action,Adventure,Sci-Fi",nm0000881,nm0472567,6.2,381902,352400000.0,771400000.0,2011
3096,American Sniper,American Sniper,2014,133,"Action,Biography,Drama",nm0000142,"nm0355699,nm4881574,nm6984200,nm7198520",7.3,434054,350100000.0,197300000.0,2014
3469,Zootopia,Zootopia,2016,108,"Adventure,Animation,Comedy","nm0397174,nm1158544,nm0601781","nm0397174,nm0601781,nm1158544,nm0714114,nm2888...",8.0,426329,341300000.0,682500000.0,2016
2921,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,2014,123,"Action,Adventure,Sci-Fi",nm1349376,"nm0185976,nm0834960,nm1056741",6.6,408726,337100000.0,418200000.0,2014
3176,Minions,Minions,2015,91,"Adventure,Animation,Comedy","nm0049633,nm1853544",nm0528244,6.4,209592,336000000.0,823400000.0,2015
2387,Aquaman,Aquaman,2018,143,"Action,Adventure,Fantasy",nm1490123,"nm0424901,nm3263825,nm0424315,nm1490123,nm3542...",6.9,358504,335100000.0,812700000.0,2018
3146,Spider-Man: Homecoming,Spider-Man: Homecoming,2017,133,"Action,Adventure,Sci-Fi",nm1218281,"nm0326246,nm0197855,nm1218281,nm1755986,nm0571...",7.4,501223,334200000.0,546000000.0,2017
2979,Guardians of the Galaxy,Guardians of the Galaxy,2014,121,"Action,Adventure,Comedy",nm0348181,"nm0348181,nm2270979,nm3966115,nm5037683,nm2757...",8.0,1031399,333200000.0,440200000.0,2014
3473,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,2016,152,"Action,Adventure,Sci-Fi",nm0811583,"nm0006516,nm0333060,nm0004170,nm0277730,nm0796...",6.4,617256,330400000.0,543300000.0,2016
142,It,It,2017,135,Horror,nm0615592,"nm1286060,nm1560977,nm2477891,nm0000175",7.3,451757,327500000.0,372900000.0,2017
141,It,es,1966,86,Drama,nm0769998,nm0769998,7.1,89,327500000.0,372900000.0,2017
140,It,It,1927,72,"Comedy,Romance","nm0903049,nm0046082","nm0323325,nm0521002,nm0510024,nm0547938",7.3,2940,327500000.0,372900000.0,2017

In [44]:
# The code bellow returns a count of every instance of the genre combinations in
# our data frame.

# Here, we can see that the 'Drama' genre
# is by far the most popular. However, at a glace it would seem that 'Action', 'Adventure', 'Comedy'
# and 'Sci-Fi' come up more often. We can see this is true by the very next two entreis right bellow
# Drama as show by "Action, Adventure, Comdey' and 'Action, Adventure, Sci-Fi'

imdbBomDom['genres'].value_counts().head(50)

Drama                         82
Adventure,Animation,Comedy    59
Action,Adventure,Sci-Fi       53
Comedy                        39
Comedy,Drama                  33
Documentary                   29
Comedy,Romance                24
Action,Comedy,Crime           23
Comedy,Drama,Romance          22
Action,Adventure,Drama        21
Action,Adventure,Fantasy      20
Action,Thriller               18
Horror,Mystery,Thriller       18
\N                            17
Action,Adventure,Comedy       16
Action,Adventure,Thriller     15
Drama,Romance                 15
Action,Adventure,Animation    14
Drama,Thriller                14
Horror                        12
Thriller                      11
Crime,Drama                   11
Action,Crime,Drama            10
Biography,Drama,History       10
Action,Crime,Thriller          9
Adventure,Family,Fantasy       9
Adventure,Comedy,Family        9
Horror,Thriller                9
Crime,Drama,Thriller           8
Action,Drama,Thriller          8
Comedy,Family                  7
Crime,Drama,Mystery            7
Action,Drama                   7
Horror,Mystery                 6
Drama,Mystery,Thriller         6
Comedy,Crime                   6
Biography,Comedy,Drama         6
Biography,Drama                6
Action,Drama,History           6
Comedy,Crime,Drama             5
Drama,Horror,Mystery           5
Action                         5
Adventure,Comedy,Drama         5
Action,Horror,Sci-Fi           5
Action,Sci-Fi,Thriller         5
Action,Drama,Fantasy           5
Animation,Comedy,Family        5
Action,Adventure,Crime         5
Action,Adventure,Family        5
Western                        4
Name: genres, dtype: int64

In [45]:
# we can see this is true still if we narrow back in on our data.
# Drama, though still close to the top, has moved down to 3rd place
imdbBomDom2 = imdbBom.sort_values('domestic_gross', ascending=False).head(100)
imdbBomDom2['genres'].value_counts().head(50)

Action,Adventure,Sci-Fi          22
Adventure,Animation,Comedy       14
Action,Adventure,Comedy           7
Action,Adventure,Fantasy          6
Drama                             6
Action,Adventure,Thriller         4
Adventure,Fantasy                 3
Comedy                            3
Action,Adventure,Animation        3
Crime,Drama                       2
Documentary                       2
Action                            1
Action,Adventure,Family           1
Animation,Comedy,Crime            1
Fantasy,Romance                   1
Horror                            1
Drama,Romance                     1
Comedy,Romance                    1
Comedy,Crime,Thriller             1
Drama,Sci-Fi,Thriller             1
Animation,Comedy,Family           1
Sci-Fi                            1
Action,Adventure,Drama            1
Drama,Music                       1
Action,Drama,Romance              1
Biography,Documentary,History     1
Action,Adventure,Crime            1
Drama,Fantasy,Romance             1
Thriller                          1
Drama,Mystery,Thriller            1
Comedy,Drama                      1
Drama,Family,Fantasy              1
Action,Biography,Drama            1
Documentary,Drama,Sport           1
Adventure,Drama,Sci-Fi            1
Family                            1
Action,Adventure                  1
Adventure,Drama,Thriller          1
Action,Adventure,Mystery          1
Name: genres, dtype: int64

In [46]:
# Let's run another experiment to cover our bases. This time we'll filter out any
# movies that grossed less that $10,000,000 and then get a value count of genres from that new list.
# This will be our broadest check.
imdbBomHighDoll = imdbBom.loc[imdbBom['domestic_gross'] >= 10000000]
imdbBomHighDoll['genres'].value_counts().head(50)

Drama                         142
Adventure,Animation,Comedy     68
Comedy,Drama                   55
Comedy                         54
Action,Adventure,Sci-Fi        53
Drama,Romance                  51
Documentary                    41
Comedy,Romance                 40
Comedy,Drama,Romance           40
Horror,Mystery,Thriller        32
Action,Adventure,Fantasy       31
Action,Comedy,Crime            28
\N                             27
Action,Adventure,Drama         27
Action,Thriller                25
Action,Crime,Thriller          25
Action,Crime,Drama             22
Drama,Thriller                 21
Crime,Drama,Thriller           19
Action,Adventure,Comedy        17
Thriller                       17
Biography,Drama,History        17
Biography,Drama                16
Action,Adventure,Thriller      16
Action,Adventure,Animation     15
Horror                         15
Crime,Drama                    15
Horror,Thriller                15
Biography,Comedy,Drama         14
Action,Drama,Thriller          13
Horror,Mystery                 12
Crime,Drama,Mystery            11
Drama,Horror,Mystery           10
Biography,Crime,Drama          10
Adventure,Comedy,Family        10
Comedy,Family                  10
Action                          9
Action,Sci-Fi,Thriller          9
Drama,Mystery,Thriller          9
Comedy,Crime,Drama              9
Action,Comedy                   9
Adventure,Family,Fantasy        9
Action,Drama                    9
Comedy,Crime                    8
Drama,Fantasy,Horror            8
Drama,Horror,Thriller           8
Comedy,Drama,Music              8
Action,Drama,History            7
Comedy,Drama,Family             7
Adventure,Comedy,Drama          7
Name: genres, dtype: int64

In [47]:
# Let's make a nice and neat visual horizontal bar graph for out new findings while we're here.
imdbBomDom3 = imdbBom.sort_values('domestic_gross', ascending=False).head(50)
imdbBomDom3['genres'].value_counts().plot(kind='barh')
plt.savefig('imdbBom-highest-earners.pdf')

In [48]:
# Inteseting, our data now has change slightly, once again.
# We see that Drama commands the lead with the most common genre
# but what we can see has been true across every check has been
# the presence of comedy in all the top 5 spots. People like to laugh!

In [49]:
# 1.) What movie's made the most profit? Are there any traits in common with those?

# A: The data would suggest that the movies that see the most box office success, both as
# one of the most common and as one of the highest earners, is 'Action, animation, & Comedy'
# Drama is the most common movie type
# Action, Adventure, & Sci-Fi is the single highest earner genre combination

In [50]:
# 2.) What movies have the highest Rating?

In [51]:
# First, we'll need to take a look at our data again but sort it on NumVotes
# numVotes is the number of times a person has rated a particular movie.
# we can take a way from this that the higher the numVotes value, the more
# talked about a movie is. However, 'most popular' doesn't always mean
# 'best'. It would be more accurate to say that higher NumVotes means
# more attention and attention is what we need more of for building a brand
# for your movies.

# This code filters out any rows bellow 10,000 votes. We've invalidating 
# those movies who didn't set a good enough example for gaining traction.
imdbNumV = imdb.loc[imdb['numVotes'] >= 10000]
imdbNumV.sort_values('numVotes', ascending=False)

,title,originalTitle,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
81555,The Shawshank Redemption,The Shawshank Redemption,1994,142,Drama,nm0001104,"nm0000175,nm0001104",9.3,2305519
245359,The Dark Knight,The Dark Knight,2008,152,"Action,Crime,Drama",nm0634240,"nm0634300,nm0634240,nm0333060,nm0004170",9.0,2268767
571614,Inception,Inception,2010,148,"Action,Adventure,Sci-Fi",nm0634240,nm0634240,8.8,2030858
97802,Fight Club,Fight Club,1999,139,Drama,nm0000399,"nm0657333,nm0880243",8.8,1826941
81339,Pulp Fiction,Pulp Fiction,1994,154,"Crime,Drama",nm0000233,"nm0000233,nm0000812",8.9,1799475
...,...,...,...,...,...,...,...,...,...
652948,Queen of the Desert,Queen of the Desert,2015,128,"Adventure,Biography,Drama",nm0001348,nm0001348,5.7,10010
77013,Trespass,Trespass,1992,101,"Action,Thriller",nm0001353,"nm0301826,nm0000709",6.3,10010
953827,Badrinath Ki Dulhania,Badrinath Ki Dulhania,2017,139,"Comedy,Drama,Romance",nm4264671,nm4264671,6.1,10009
450113,Gulabo Sitabo,Gulabo Sitabo,2020,124,"Comedy,Drama",nm1999473,nm4962323,6.3,10006
101676,Two Hands,Two Hands,1999,103,"Comedy,Crime,Thriller",nm0429964,nm0429964,7.1,10000

In [52]:
# Next, we can use the new filtered data frame to sort out our averageRating to find what genres were the most liked.
# As we're trying to only validate movies that had a rating betetr than a D, anything less that a 7.0 rating will
# be ommitted. just like last time, we'll take the top 100 ratings, top 1,000, and create a cut-off for totally invalidadted
# rows of data

imdbAvRat = imdbNumV.sort_values('averageRating', ascending = False).head(100)
imdbAvRat2 = imdbNumV.sort_values('averageRating', ascending = False).head(1000)
imdbAvRat3 = imdbNumV.loc[imdb['averageRating'] >= 7.0]

In [53]:
imdbAvRat['genres'].value_counts().head(50)

Drama                            11
Crime,Drama                       6
Comedy,Drama                      6
Action,Adventure,Drama            5
Action,Crime,Drama                5
Drama,Romance                     4
Adventure,Comedy,Drama            3
Crime,Drama,Thriller              3
Comedy,Romance                    3
Documentary                       3
Western                           2
Comedy                            2
Comedy,Drama,Romance              2
Biography,Crime,Documentary       2
Biography,Drama,History           2
Action,Adventure,Fantasy          2
Action,Sci-Fi                     2
Comedy,Documentary                1
Comedy,Drama,Western              1
Comedy,Crime,Romance              1
Comedy,Drama,History              1
Action,Drama,Mystery              1
Animation,Drama,War               1
Comedy,Drama,Family               1
Biography,Documentary,History     1
Biography,Documentary             1
Drama,Music                       1
Action,Adventure,Sci-Fi           1
Drama,Thriller                    1
Biography,Crime,Drama             1
Crime,Drama,Fantasy               1
Adventure,Comedy,Sci-Fi           1
Comedy,Family,Mystery             1
Adventure,Drama,Sci-Fi            1
Crime,Mystery,Thriller            1
Horror,Mystery,Thriller           1
Comedy,Crime,Mystery              1
Adventure,Animation,Drama         1
Drama,Romance,War                 1
Documentary,Music                 1
Adventure,Comedy,Crime            1
Drama,Family,Fantasy              1
Biography,Documentary,Sport       1
Drama,Mystery,Sci-Fi              1
Animation,Comedy,Family           1
Drama,War                         1
Action,Crime,Thriller             1
Adventure,Animation,Family        1
Comedy,Drama,Thriller             1
Comedy,History                    1
Name: genres, dtype: int64

In [54]:
imdbAvRat2['genres'].value_counts().head(50)

Drama                         102
Drama,Romance                  45
Comedy,Drama                   42
Comedy,Drama,Romance           30
Crime,Drama                    25
Action,Crime,Drama             25
Biography,Drama,History        23
Crime,Drama,Thriller           22
Drama,War                      21
Crime,Drama,Mystery            19
Documentary                    19
Comedy,Romance                 16
Biography,Drama                15
Adventure,Animation,Comedy     15
Action,Adventure,Sci-Fi        14
Action,Adventure,Animation     12
Comedy,Crime,Drama             12
Drama,Thriller                 11
Comedy                         11
Biography,Crime,Drama          11
Crime,Drama,Film-Noir          11
Adventure,Comedy,Drama          9
Action,Adventure,Drama          8
Adventure,Biography,Drama       8
Drama,Music                     7
Action,Adventure,Comedy         7
Comedy,Drama,Family             7
Mystery,Thriller                7
Drama,Family                    7
Action,Thriller                 7
Documentary,Music               7
Biography,Comedy,Drama          6
Action,Biography,Drama          6
Action,Drama                    6
Comedy,Drama,War                6
Drama,Mystery,Thriller          6
Biography,Drama,Sport           6
Action,Crime,Thriller           6
Drama,Music,Romance             6
Action,Adventure,Fantasy        5
Adventure,Animation,Drama       5
Drama,Sport                     5
Comedy,Drama,Music              5
Drama,Fantasy,Romance           5
Drama,Mystery,Sci-Fi            5
Drama,Romance,War               5
Comedy,Drama,Fantasy            5
Adventure,Drama,Fantasy         5
Action,Drama,Thriller           5
Action,Comedy,Crime             5
Name: genres, dtype: int64

In [55]:
imdbAvRat3['genres'].value_counts().head(50)

Drama                         266
Comedy,Drama                  189
Comedy,Drama,Romance          169
Drama,Romance                 169
Crime,Drama,Thriller          109
Action,Crime,Drama            106
Biography,Drama,History        80
Crime,Drama                    78
Crime,Drama,Mystery            70
Comedy                         66
Adventure,Animation,Comedy     61
Biography,Drama                57
Biography,Crime,Drama          51
Comedy,Crime,Drama             47
Drama,Thriller                 46
Action,Adventure,Sci-Fi        46
Documentary                    45
Drama,War                      42
Comedy,Romance                 42
Action,Crime,Thriller          39
Action,Adventure,Drama         38
Action,Adventure,Comedy        37
Drama,Mystery,Thriller         35
Biography,Comedy,Drama         35
Comedy,Drama,Music             34
Action,Adventure,Animation     34
Action,Comedy,Crime            31
Comedy,Drama,Fantasy           30
Crime,Drama,Romance            28
Action,Drama,History           27
Adventure,Comedy,Drama         27
Biography,Drama,Sport          27
Action,Biography,Drama         25
Action,Drama,Thriller          22
Biography,Drama,Romance        22
Comedy,Crime                   21
Horror                         21
Crime,Drama,Film-Noir          21
Biography,Drama,Music          20
Action,Adventure,Thriller      20
Action,Thriller                20
Adventure,Biography,Drama      19
Drama,Mystery,Romance          18
Drama,History,War              18
Adventure,Animation,Drama      18
Drama,Western                  17
Drama,Romance,War              17
Comedy,Drama,Family            17
Action,Adventure,Fantasy       17
Drama,Music                    16
Name: genres, dtype: int64

In [56]:
# Once again, let's make a nice and neat Horizontal Bar Graph
imdbAvRat4 = imdbNumV.sort_values('averageRating', ascending = False).head(50)
imdbAvRat4['genres'].value_counts().plot(kind='barh')
plt.savefig('imdbBom-highest-rated-genres.pdf')

In [57]:
# So, here is something interesting that we didn't see in the our domestic_gross check.
# Here, we see that Drama is the undisputed champion of all with not only the most
# common grenre type for all three checks but also holds the very top spot for being
# the highest rated genre at 9.3 Average Rating

# However, once again wee see that comedy has come in second again as 'Comedy, Drama' for the most common data type for 2/3
# checks

In [58]:
# 2.) What movies have the highest Rating?

# The data shows that purly drama movies have the highest ratings as well as being
# the most common genre type.
# The second most common genre combination is Comedy & Drama

In [59]:
# 3.) How should Microsoft take this information and act upon it.

# As an observation, I'd say that the two results couldn't be more different from each other.
# But it's important to hit on both Top Earner genres and Top Rated genres.
# building up brand image will be the best way to start on the right foot. A pure drama or 'drama, comedy'
# is statistically the safest way to build up a likable reputaion without sacraficing of monitary gain completely.
# Once a customer trust is foraged and you brand is known for making likable movies, it would then be smart to move into
# 'Action, Adventure, Sci-Fi' or 'Action, Animation, Comedy' for a prefrence of monetary gain to build up bigger budgets for next projects.